@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default styles for plain HTML elements */
@layer base {
	/* ::selection {
		color: white;
		background: #ff7d0050;
	} */
	body {
		font-family: 'Archivo', 'Helvetica', sans-serif;
		font-size: theme(fontSize.base);
		color: theme(colors.tbeige);
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-family: 'Warownia', 'Helvetica', sans-serif;
			word-spacing: 1px;
			color: theme(colors.tbeige);
		}
	}
}
/* Utility classes (.card, .btn, etc.) */
@layer components {
}

/* CSS features that Tailwind doesn’t include utilities for out of the box */
@layer utilities {
	/* overriding tailwind container for desktop first */
	.container {
		@apply mx-auto;
		max-width: 1600px;
	}
	@screen lg {
		.container {
			max-width: 1200px;
		}
	}
	@screen md {
		.container {
			max-width: 900px;
		}
	}
	@screen xs {
		.container {
			max-width: 100%;
		}
	}
}
